// Paleta de colores
:root {
  --bg-color: rgb(240, 240, 240);
  --primario: #488199;
  --primariodark: #3C6B80;
  --secundario: #5EB59F;
  --secundariodark: #498C7B;

  --sombreado: #dcece8;
  --sombreado1: rgba(184, 217, 209, .7);
  --color-resalta: white;
  --title-color: #4d4d4d;

  --color-text: #616161;
  --color-border: #ccc;
  --color-4EM: #00aee5;
  
  --font-text: 'Montserrat', Verdana, sans-serif, Geneva, Tahoma;
  --font-title: 'Monoton', Helvetica, sans-serif;
  --font-articles: 'News Cycle', Helvetica, sans-serif;
  --font-oswald: 'Oswald', sans-serif;
}